<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dm.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <title>Direct Messages</title>
</head>
<body>

    {% include 'header.html' %}

    <main>
        
        <div class="content_container">
            <div class="dm_header">
                <span style="font-size: 20px;">Direct Messages</span>
                <div class="dm-backbtn" onclick="switch_window()">←</div>
            </div>
            <div id="d_messages">
                
                {% for item in data %}
                    <div class="m_container" onclick="req_dm('{{item.sender_username}}', '{{item.recipient_username}}', true)">
                        <div class="dmlist">
                            <div class="icon_container">
                                <div class="dmicon" style="background-image: url('{{ url_for('static', filename='image/usericons/' + (item.recipient_icon or 'default.jpg')) }}');"></div>
                            </div>
                            <div class="dm">
                                <div style="font-weight: bold;" class="recipient_info">
                                    <span>{{item[0].dm_title}}</span>
                                </div>
                                <div style="color: gray;" class="msg">{{item.DirectMessage.message}}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div id="message_container" style="display: none;">
                <div id="message_detail">
                    
                </div>
            </div>


            <div id="send-form">
                <input type="text" id="send-msg-text" onkeydown="send_msg_from_input_tag(event)">
                <div id="send-msg-btn" onclick="send_msg()">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-z80fyv r-19wmn03" style="color: rgb(29, 155, 240);"><g><path d="M2.504 21.866l.526-2.108C3.04 19.719 4 15.823 4 12s-.96-7.719-.97-7.757l-.527-2.109L22.236 12 2.504 21.866zM5.981 13c-.072 1.962-.34 3.833-.583 5.183L17.764 12 5.398 5.818c.242 1.349.51 3.221.583 5.183H10v2H5.981z"></path></g></svg>
                </div>
            </div>
        </div>
    </main>
    
</body>

<script>

    pair = [undefined, undefined]

    setInterval(() => req_dm(pair[0], pair[1], false), 1000)
    
    function req_dm(sender, recipienter, sw_flg){
        console.log("THis")
        pair = [sender, recipienter]
        console.log(pair)
        fetch("/get_dm", {
            method: "post",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "sender": sender,
                "recipienter": recipienter
            })

        })
        .then(response => response.json())
        .then(data =>{
            if(sw_flg){
                switch_window();
            }
            elem = document.getElementById("message_container")
            elem.scrollTop = elem.scrollHeight
            set_messages(data);
        })
    }

    function switch_window(){
        tmp = document.getElementById("d_messages").style.display
        document.getElementById("d_messages").style.display = document.getElementById("message_container").style.display
        document.getElementById("message_container").style.display = tmp
        if (tmp == "none"){
            document.getElementById("send-form").style.display = "none"
        }else{
            document.getElementById("send-form").style.display = "flex"
        }
    }

    function set_messages(data){
        document.getElementById("message_detail").innerHTML = ""
        var username = data.current_username
        msgdata = data.msg
        base = document.getElementById("message_detail")
        for(var i=0; i<msgdata.length; i++){
            var parent = document.createElement("div")
            parent.className = "ajust_container"
            var msg_con = document.createElement("div")
            msg_con.className = "msg_container"
            var date_con = document.createElement("div")
            date_con.className = "date_container"
            var span = document.createElement("span")
            span.className = "sentat"
            
            date_con.appendChild(span)

            
            if (username == msgdata[i][0]){
                parent.style.alignItems = "end"
                msg_con.style.backgroundColor = "#1DA1F2"
                msg_con.style.float = "right"
                date_con.style.float = "right"
            }else{
                parent.style.alignItems = "start"
                msg_con.style.backgroundColor = "#657786"
                msg_con.style.float = "left"
                date_con.style.float = "left"
            }
            msg_con.textContent = msgdata[i][2]
            span.textContent = msgdata[i][3]

            parent.appendChild(msg_con)
            parent.appendChild(date_con)
            base.appendChild(parent)
        }

        
    }

    function send_msg_from_input_tag(event){
        if (event.key === 'Enter') {
            send_msg()
            document.getElementById("send-msg-text").value = ""
        }
    }

    function send_msg(){
        text = document.getElementById("send-msg-text").value
        fetch("/post_dm", {
            method: "post",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                "pair": pair,
                "text": text
            })

        })
        .then(response => response.json())
        .then(data =>{
            console.log(data)
            req_dm(pair[0], pair[1], false)
        })
    }
</script>
</html>