<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_contents.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <title>マイコンテンツ</title>
</head>

<body>
    {% include 'header.html' %}

    <main>
        <div class="items">
            <span style="font-size: 28px; text-align: center;">マイコンテンツ</span>

            {% for movie in movies %}
                <a href="/my_contents/{{movie.id}}" class="item-link">
                    <div class="item">
                        <div class="iteminfo">
                            <div class="movie-title">
                                {{movie.title}}
                            </div>

                            <div class="item-description">
                                {{movie.description}}
                            </div>
                            
                            <div class="item-review">
                                <div class="rating_star">
                                    <svg width="20px" height="20px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <polygon points="50,10 61,35 90,35 65,55 75,80 50,65 25,80 35,55 10,35 39,35" fill="gold" stroke="black" stroke-width="2"/>
                                    </svg>
                                    {{movie.item_review["review_ave"]}}
                                </div>
                                <div>
                                    実績{{movie.item_review["review_count"]}}件
                                </div>
                                <div>
                                    {% if (movie.req_price | int) != 0 %}
                                        <span class="price">
                                            {{'{:,}'.format(movie.req_price | int)}}円
                                        </span>
                                        {% else %}
                                        
                                        <span class="price">
                                            {{'{:,}'.format(movie.price | int)}}円
                                        </span>
                                        
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        <div class="item_thum" style="background-image: url('{{ url_for('static', filename='movie/preview/' + movie.thum_filename) }}');" >

                        </div>
                        
                    </div>
                </a>
            {% endfor%}

        </div>
    </main>
</body>
</html>